.icon {
    background: url('icons.png') no-repeat top left;
}
.icon.home {
    background-position: 0 0;
    width: 75px;
    height: 75px;
    
}
.icon.left-arrow {
    background-position: 0 -76px;
    width: 256px;
    height: 256px;
}
.icon.libreria {
    background-position: 0 -333px;
    width: 75px;
    height: 75px;
}
.icon.logo {
    background-position: 0 -409px;
    width: 150px;
    height: 45px;
}
.icon.logo-small {
    background-position: 0 -455px;
    width: 75px;
    height: 75px;
}
.icon.me {
    background-position: 0 -531px;
    width: 234px;
    height: 203px;
}
.icon.mgk {
    background-position: 0 -735px;
    width: 131px;
    height: 131px;
}
.icon.next {
    background-position: 0 -867px;
    width: 256px;
    height: 256px;
}
.icon.play-button {
    background-position: 0 -1124px;
    width: 256px;
    height: 256px;
}
.icon.radiohead {
    background-position: 0 -1381px;
    width: 250px;
    height: 250px;
}
.icon.search {
    background-position: 0 -1632px;
    width: 75px;
    height: 75px;
}