<ul id="test" class="small-cards-container">
  <li class="small-card small-card-1">
    <div class="small-card-image">
      <img src="../assets/img/mgk.png" alt="A cure for wellness" />
      <div class="play-button-overlay">
        <img src="../assets/img/play-button.png" alt="" />
      </div>
    </div>
    <div class="small-card-title">Song Name</div>
    <div class="small-card-details">Author</div>
  </li>
</ul>
<ul id="test" class="small-cards-container">
  <li class="small-card small-card-1">
    <div class="small-card-image">
      <img src="../assets/img/mgk.png" alt="Einaudi" />
      <div class="play-button-overlay">
        <img src="../assets/img/play-button.png" alt="" />
      </div>
    </div>
    <div class="small-card-title">Song name</div>
    <div class="small-card-details">Author</div>
  </li>
</ul>
