<aside class="left-bar">
  <div class="logo">
    <img src="../assets/img/logo.svg" alt="logo" />
  </div>
  <div class="logo-small">
    <img src="../assets/img/logo-small.svg" alt="small-logo" />
  </div>
  <nav class="nav">
    <ul class="nav-list font-md-grayed">
      <li class="svg" id="home">
        <a href="#">
          <div class="img-home"></div>
          <span> Home</span>
        </a>
      </li>
      <li class="svg">
        <a href="search.html">
          <div class="img-search"></div>
          <span> Search</span>
        </a>
      </li>
      <li class="svg">
        <a href="#">
          <div class="img-library"></div>
          <span> Your Library</span>
        </a>
      </li>
      <li class="space"><a href="#"></a></li>
      <li>
        <a href="#"
          ><div class="icons icon-add">
            <i class="fa-solid fa-plus"></i>
          </div>
          <span> Create Playlist</span>
        </a>
      </li>

      <li>
        <a href="#">
          <div class="icons icon-heart">
            <i class="fa-solid fa-heart"></i>
          </div>
          <span> Favorite Songs</span>
        </a>
      </li>
    </ul>
  </nav>
</aside>
